/* WAVE 1 - largest*/
.custom-shape-divider-top-1596840126 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596840126 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 140px;
}

.custom-shape-divider-top-1596840126 .shape-fill {
  fill: #b8f4ec33;
}

/* WAVE 2*/
.custom-shape-divider-top-1596840238 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596840238 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 120px;
}

.custom-shape-divider-top-1596840238 .shape-fill {
  fill: #b8f4ec66;
}

/* WAVE 3*/
.custom-shape-divider-top-1596838987 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596838987 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 80px;
}

.custom-shape-divider-top-1596838987 .shape-fill {
  fill: #b8f4ec99;
}

/* WAVE 4*/
.custom-shape-divider-top-1596839163 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596839163 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 50px;
}

.custom-shape-divider-top-1596839163 .shape-fill {
  fill: #b8f4eccc;
}

/* WAVE 5 - smallest*/
.custom-shape-divider-top-1596837605 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596837605 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 10px;
}

.custom-shape-divider-top-1596837605 .shape-fill {
  fill: #b8f4ecec;
}
