/* WAVE 1 - largest*/
.custom-shape-divider-top-15968401261 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-15968401261 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 140px;
}

.custom-shape-divider-top-15968401261 .shape-fill {
  fill: #b8f4c933;
}

/* WAVE 2*/
.custom-shape-divider-top-15968402381 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-15968402381 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 120px;
}

.custom-shape-divider-top-15968402381 .shape-fill {
  fill: #b8f4c966;
}

/* WAVE 3*/
.custom-shape-divider-top-15968389871 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-15968389871 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 80px;
}

.custom-shape-divider-top-15968389871 .shape-fill {
  fill: #b8f4c999;
}

/* WAVE 4*/
.custom-shape-divider-top-15968391631 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-15968391631 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 50px;
}

.custom-shape-divider-top-15968391631 .shape-fill {
  fill: #b8f4c9cc;
}

/* WAVE 5 - smallest*/
.custom-shape-divider-top-15968376051 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-15968376051 svg {
  position: relative;
  display: block;
  width: 10000px;
  height: 10px;
}

.custom-shape-divider-top-15968376051 .shape-fill {
  fill: #b8f4c9ec;
}

/*///////////////////////////////////////////////////////////////////*/

.custom-shape-divider-top-1596943375 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596943375 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1596943375 .shape-fill {
  fill: #b8f4c9;
}

/**/

/**/

/**/

/**/
